<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/home</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        
        <!-- JDBC connection pool(use the built-in) -->
        <property name="connection.pool_size">1</property>
        
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Use "create" to Drop the existing tables and create new one Or use "update" to add data in the same table -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- Echo all executed SQL -->
        <property name="show_sql">true</property>
        
        <!-- Mention here all the model classes along with package name -->
        <mapping class="com.miaoubich.demo.Users"/>
         
    </session-factory>
</hibernate-configuration>