<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/home</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Use "create" to Drop the existing tables and create new one Or use "update" to add data in the same table -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Echo all executed SQL -->
        <property name="show_sql">true</property>
        
        <!-- Second level cache -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        
        <!-- cache provider which specify "region factory name" -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        
        <!-- to use cache while using query -->
        <property name="hibernate.cache.use_query_cache">true</property>
         
    </session-factory>
</hibernate-configuration>