
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <br />
        <div class="form-group">
            <label class="control-label col-md-2">Email ID</label>
            @Html.TextBox("EmailID", "", new { @class = "form-control" })
            @*<input type="text" class="form-control" id="resetEmailid"/>*@
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="submit" id="submitBtn" class="btn btn-success" />
            </div>
        </div>

    </div>

    <script>
        $("#submitBtn").keyup(function () {
                $("#EmailID").val() = "";
            });
    </script>
}

